.profile-pic {
    height: 550px;
    width: 600px;
    margin-right: 86px;
    -webkit-box-shadow: 5px 4px 9px grey;
    box-shadow: 9px 9px 9px grey;
}

#accordion-example-heading-1.panel-heading {
    background-color: black;
    border-radius: 16px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    /* border-top-color: #969696; */
    background-color: #e8e8e7;
    margin-top: 8px;
    border-radius: 15px;
}


.panel-group {
    margin-bottom: 0px;
    padding-top: 11px;
    padding-right: 11px;
    padding-left: 11px;
    padding-bottom: 11px;
    margin-top: 0.3%;
    margin-left: -114px;
    margin-right: 35px;
    -webkit-box-shadow: 7px 6px 16px 3px grey;
    box-shadow: 7px 6px 16px 3px grey;
    border-radius: 16px;
}
.panel-body{
    font-family: 'Patrick Hand SC', cursive;
}

#accordion-example-heading-1.panel-heading {
    background-color: black;
}

.panel {
    margin-bottom: 20px;
    background-color: #e6e6e6;
    border: 9px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.lowText {
    margin-top: 5%;
    margin-right: 154px;
    font-size: 1.0em;
}
.text {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1.5em;
    color: #60574d;
    text-shadow: -2px -1px 0px 0px black;
    text-shadow: 3px 2px 3px grey;
}

.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#c2a692 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: 5px 4px 9px grey;
    box-shadow: 5px 4px 9px grey;
    border-radius: 16px;
}

p{
    font-family: 'Patrick Hand SC', cursive;
}

/*1200*/
@media screen and (max-width: 1200px) {


    .panel-group {
        margin-left: -30px;
        margin-right: 5px;
        -webkit-box-shadow: 7px 6px 16px 3px grey;
        box-shadow: 7px 6px 16px 3px grey;
        border-radius: 16px;
    }
    .lowText {
        margin-top: -14%;
        margin-right: -57px;
        margin-left: -90px;
    }

}

/*980px*/

@media screen and (max-width:980px) {
	.profile-pic {
        height: 350px;
        width: 365px;
        margin-right: 86px;
        margin-top:14px;
        -webkit-box-shadow: 5px 4px 9px grey;
        box-shadow: 9px 9px 9px grey;
    }

    .panel-group {
        margin-bottom: 0px;
        padding-top: 11px;
        padding-right: 11px;

        padding-left: 11px;
        padding-bottom: 11px;
        margin-top: 0.3%;
        margin-left: -97px;
        margin-right: 5px;
        -webkit-box-shadow: 7px 6px 16px 3px grey;
        box-shadow: 7px 6px 16px 3px grey;
        border-radius: 16px;
    }
    .lowText {
        margin-top: -21%;
        margin-right: 9px;
        margin-left: -90px;
        /* margin-right: 154px; */
        /* font-size: 1.0em; */
    }
    
    }

/*768PX*/
@media screen and (max-width:768px) {


    .style-cards.panel.panel-default {
        margin-bottom: 13px;
        background-color: #f7f7f7;
        border: 9px solid transparent;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 21px;
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .lowText {
        margin-top: -40px;
        margin-right: 48px;
        margin-left: -41px;
        /* margin-right: 154px; */
        /* font-size: 1.0em; */
    }
    
    }


/*640PX*/
@media screen and (max-width:640px) {

    .col-xs-6 {
        width: 92%;
        margin-top: 0px;
    }

    .panel-group {
        margin-bottom: 0px;
        padding-top: 11px;
        padding-right: 11px;
        padding-left: 11px;
        padding-bottom: 11px;
        margin-top: 3.3%;
        margin-left: 26px;
        margin-right: -27px;
        -webkit-box-shadow: 7px 6px 16px 3px grey;
        box-shadow: 7px 6px 16px 3px grey;
        border-radius: 16px;
    }

    .profile-pic {
        height: 450px;
        width: 500px;
        margin-right: 86px;
        margin-left: 51px;
        margin-top: -6px;
        -webkit-box-shadow: 5px 4px 9px grey;
        box-shadow: 9px 9px 9px grey;
    }

    .lowText {
        margin-top: -40px;
        margin-right: 9px;
        margin-left: 69px;
        /* margin-right: 154px; */
        /* font-size: 1.0em; */
    }
}

@media screen and (max-width:414px) {
    .profile-pic {
        height: 315px;
        width: 330px;
        margin-right: 6px;
        margin-left: 26px;
        margin-top: -6px;
        -webkit-box-shadow: 5px 4px 9px grey;
        box-shadow: 9px 9px 9px grey;
    }
    .panel-group {
        -webkit-box-shadow: 7px 6px 16px 3px grey;
        box-shadow: 7px 6px 16px 3px grey;
        border-radius: 16px;
        width: 108%;
        margin-top: 25px;
        margin-left: 1px;
        margin-right: 7px;
    }
}

@media screen and (max-width:375px) {
    .profile-pic {
        height: 323px;
        width: 336px;
        margin-right: 6px;
        margin-left: 4px;
        margin-top: -6px;
        -webkit-box-shadow: 5px 4px 9px grey;
        box-shadow: 9px 9px 9px grey;
    }
    .panel-group {
        margin-left: -10px;
        background-color: floralwhite;
    }

    .col-xs-6 {
        width: 98%;
        margin-top: 0px;
    }

    p{
        
    }

    .panel.panel-default {
        margin-bottom: 20px;
        margin-right: -3px;
        background-color: #f7f7f7;
        border: 9px solid transparent;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 21px;
    }
    .lowText {
        margin-right: 46px;
        font-size: 1.0em;
    }
}
