.profile-pic {
    height: 600px;
    width: 650px;
    -webkit-box-shadow: 5px 4px 9px grey;
    box-shadow: 9px 9px 9px grey;
}
.panel-group {
    margin-bottom: 0px;
    margin-top: 8%;
    float:right; 
}

.lowText {
    margin-top: 5%;
}

.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
    box-shadow: 5px 4px 9px grey;
}
