.family-pic {
    height: 580px;
    width: 555px;
    margin-right: 193px;
    -webkit-box-shadow: 5px 4px 9px grey;
    box-shadow: 9px 9px 9px #141414;
    border-radius: 15px;

}

#accordion-example-heading-1.panel-heading {
    background-color: black;
    border-radius: 16px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    /* border-top-color: #969696; */
    background-color: #e8e8e7;
    margin-top: 8px;
    border-radius: 15px;
}


.panel-group {
    margin-bottom: 0px;
    padding-top: 11px;
    padding-right: 11px;
    padding-left: 11px;
    padding-bottom: 11px;
    margin-top: 0.3%;
    margin-left: -114px;
    margin-right: 35px;
    /* -webkit-box-shadow: 7px 6px 16px 3px grey;
    box-shadow: 7px 6px 16px 3px grey; */
    border-radius: 16px;
}
.panel-body{
    /* font-family: 'Patrick Hand SC', cursive; */
}

#accordion-example-heading-1.panel-heading {
    background-color: black;
}

.panel {
    margin-bottom: 20px;
    background-color: #e6e6e6;
    border: 9px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.lowText {
    margin-top: 5%;
    margin-right: 154px;
    font-size: 1.0em;
}
.text {
    /* font-family: 'Patrick Hand SC', cursive; */
    font-size: 1.5em;
    color: #60574d;
    text-shadow: -2px -1px 0px 0px black;
    text-shadow: 3px 2px 3px grey;
}

.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#c2a692 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: 5px 4px 9px grey;
    box-shadow: 5px 4px 9px grey;
    border-radius: 16px;
}

p{
    /* font-family: 'Patrick Hand SC', cursive; */
}

.iconsBaby {
    margin-top: -18px;
    float: right;
    margin-right: 163px;
    /* margin-bottom: -1px; */
}

/*1200*/
@media screen and (max-width: 1200px) {


    .panel-group {
        margin-left: -30px;
        margin-right: 5px;
        /* -webkit-box-shadow: 7px 6px 16px 3px grey;
        box-shadow: 7px 6px 16px 3px grey; */
        border-radius: 16px;
    }
    .lowText {
        margin-top: -14%;
        margin-right: -57px;
        margin-left: -90px;
    }

}

/*980px*/

@media screen and (max-width:980px) {
	.profile-pic {
        height: 350px;
        width: 365px;
        margin-right: 86px;
        margin-top:14px;
        -webkit-box-shadow: 5px 4px 9px grey;
        box-shadow: 9px 9px 9px grey;
    }

    .panel-group {
        margin-bottom: 0px;
        padding-top: 11px;
        padding-right: 11px;

        padding-left: 11px;
        padding-bottom: 11px;
        margin-top: 0.3%;
        margin-left: -97px;
        margin-right: 5px;
        /* -webkit-box-shadow: 7px 6px 16px 3px grey;
        box-shadow: 7px 6px 16px 3px grey; */
        border-radius: 16px;
    }
    .lowText {
        margin-top: -21%;
        margin-right: 9px;
        margin-left: -90px;
        /* margin-right: 154px; */
        /* font-size: 1.0em; */
    }
    
    }

/*768PX*/
@media screen and (max-width:768px) {


    .style-cards.panel.panel-default {
        margin-bottom: 13px;
        background-color: #f7f7f7;
        border: 9px solid transparent;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 21px;
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .lowText {
        margin-top: -40px;
        margin-right: 48px;
        margin-left: -41px;
        /* margin-right: 154px; */
        /* font-size: 1.0em; */
    }
    
    }


/*640PX*/
@media screen and (max-width:640px) {

    .col-xs-6 {
        width: 92%;
        margin-top: 0px;
    }

    .panel-group {
        margin-bottom: 0px;
        padding-top: 11px;
        padding-right: 11px;
        padding-left: 11px;
        padding-bottom: 11px;
        margin-top: 3.3%;
        margin-left: 26px;
        margin-right: -27px;
        /* -webkit-box-shadow: 7px 6px 16px 3px grey;
        box-shadow: 7px 6px 16px 3px grey; */
        border-radius: 16px;
    }

    .profile-pic {
        height: 450px;
        width: 500px;
        margin-right: 86px;
        margin-left: 51px;
        margin-top: -6px;
        -webkit-box-shadow: 5px 4px 9px grey;
        box-shadow: 9px 9px 9px grey;
    }

    .lowText {
        margin-top: -40px;
        margin-right: 9px;
        margin-left: 69px;
        /* margin-right: 154px; */
        /* font-size: 1.0em; */
    }
}

/*414*/
@media screen and (max-width:414px) {
    .family-pic {
        height: 392px;
        width: 382px;
        margin-right: -5px;
        margin-left: 1px;
        margin-top: 7px;
        -webkit-box-shadow: 5px 4px 9px grey;
        box-shadow: 9px 9px 9px grey;
        border-radius: 21px;
    }

    .panel-group {
        /* -webkit-box-shadow: 7px 6px 16px 3px grey;
        box-shadow: 7px 6px 16px 3px grey; */
        border-radius: 16px;
        width: 117%;
        margin-top: 25px;
        margin-left: -20px;
        margin-right: 7px;
    }

    .lowText {
        margin-top: -40px;
        margin-right: 39px;
        margin-left: 69px;
        /* margin-right: 154px; */
        /* font-size: 1.0em; */
    }
}
/*375px*/
@media screen and (max-width:375px) {
    .family-pic {
        height: 366px;
        width: 348px;
        margin-right: 6px;
        margin-left: -2px;
        margin-top: 14px;
        margin-bottom: -5px;
        /* -webkit-box-shadow: 5px 4px 9px grey; */
        /* -webkit-box-shadow: 9px 9px 9px grey;
        box-shadow: 9px 9px 9px grey; */
    }

    .panel-group {
        margin-left: -25px;
        /* margin-right: 14px; */
        width: 350px;
        /* background-color: rgb(178, 178, 178); */
        padding-right: 8px;
        padding-left: 7px;
        padding-bottom: 1px;
    }

    .iconsBaby {
        margin-top: 12px;
        margin-right: 27px;
        margin-bottom: 10px;
        padding-top: -2px;
    }

    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        /* border-top-color: #969696; */
        /* background-color: #5c2d0469; */
        margin-top: 8px;
        border-radius: 15px;
    }

    a {
        color: #000000c4;
        /* text-decoration: none; */
    }

    .person-wrapper.col-sm-4.col-xs-6 {
        margin-left: 10px;
        margin-right: 5px;
    }

    .col-xs-6 {
        width: 91%;
    }


    .panel.panel-default {
        margin-bottom: 20px;
        margin-right: -3px;
        background-color: #f7f7f7;
        border: 9px solid transparent;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 21px;
    }
    .lowText {
        margin-right: 46px;
        font-size: 1.0em;
        margin-left: 35px;
    }
}

/*320px*/
@media screen and (max-width:320px) {
    .family-pic {
        height: 303px;
        width: 293px;
        margin-right: 6px;
        margin-left: -2px;
        margin-top: 0px;
        -webkit-box-shadow: 5px 4px 9px grey;
        box-shadow: 9px 9px 9px grey;
    }

}

/*iphoneX */
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) {

    .panel-group {
        margin-left: -19px;
        background-color: rgb(178, 178, 178);
        padding-right: 12px;
        padding-left: 12px;
    }

    @media screen and (max-width: 375px) {
        .family-pic {
            height: 369px;
            width: 349px;
            margin-right: 6px;
            margin-left: -2px;
            margin-top: 0px;
            margin-bottom: -5px;
            -webkit-box-shadow: 5px 4px 9px grey;
            box-shadow: 9px 9px 9px grey;
            border-radius: 21px;
        }

}

}

/*galaxy s5*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .family-pic {
        height: 339px;
        width: 329px;
        margin-right: 6px;
        margin-left: 0px;
        margin-top: 2px;
        margin-bottom: -5px;
        -webkit-box-shadow: 5px 4px 9px grey;
        box-shadow: 9px 9px 9px grey;
        border-radius: 21px;
    }

    
    .panel-group {
        margin-left: -26px;
        background-color: rgba(0, 0, 0, 0);
        padding-right: 12px;
        padding-left: 12px;
        width: 118%;
    }

    center.iconsBaby {
        position: initial;
        margin-top: 15px;
        margin-right: 64px;
        margin-bottom: 7px;
        padding-bottom: 12px;
    }
   
}