.joeyface {
    width:314px;
}

a.btn.btn-default {
    margin-left: 71px;
}

@media screen and (width:375px) {
    a.btn.btn-default {
        margin-left: 90px;
    }
    .joeyface{
        height: 323px;
        width: 336px;
        margin-right: 6px;
        margin-left: 4px;
        margin-top: -6px;
        -webkit-box-shadow: 5px 4px 9px grey;
        box-shadow: 9px 9px 9px grey;
        border-radius:15px;
    }
    .panel-group {
        margin-left: -10px;
        background-color: rgb(178, 178, 178);
        padding-right: 28px;
        padding-left: 28px;
    }

    .person-wrapper.col-sm-4.col-xs-6 {
        margin-left: 5px;
        margin-right: 5px;
    }

    .col-xs-6 {
        width: 91%;
    }

    .panel.panel-default {
        margin-bottom: 20px;
        margin-right: -3px;
        background-color: #f7f7f7;
        border: 9px solid transparent;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 21px;
    }
    .lowText {
        margin-right: 46px;
        font-size: 1.0em;
    }

    .row {
        margin-right: -22px;
        margin-left: -15px;
    }
}