.navbar {
    position: relative; 
    background-image: linear-gradient(to bottom,#bfb3b3 0,#f8f8f8 100%);
    min-height: 50px;
    margin-bottom: 20px;
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 3px 10  px 15px grey;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Cutive Mono', monospace;
    margin-left: 10px;
}

.navbar-right {
    /* float: right!important; */
    margin-right: 15px;
}
