body {
    background-color: #e0e0e0;
     color: #420000;
     background-image: url(/background.JPG); 
     background-size: cover;

} 

h1 {
       
    font-size: 3.5em;
    color: black;
}

center.iconsBaby {
    margin-top: 15px;
    margin-right: 152px;
}

.home-pic {
    height: 291px;
    width: 1015px;
    border-radius: 25px;
    -webkit-box-shadow: 5px 4px 3px 1px grey;
    box-shadow: 2px 2px 3px 2px grey;
}



.brainImg.jumbotron {
    background-image: url(/me.JPG);
    background-size: cover;
    padding-top: 23%;
    width: 50%;
    padding-bottom: 30%;
    float: left;
    margin-bottom: 0px;
    margin-top: 14px;
    color: inherit;
    background-color: #f5f5f5;
    -webkit-box-shadow: 3px 3px 15px grey;
    box-shadow: 3px 3px 15px grey;
}

.btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
    margin-bottom: 1%;
}

.h1, h1 {
    font-size: 30px;
    position: initial;
    padding-top: 151px;
    padding-left: 28px;
    margin-bottom: 55px;
    font-family: 'Cutive Mono', monospace;
    font-size: 3em;
}

img.githubIcon {
    height: 70px;
    width: 70px;
    margin-left: 25px;
}
img.linkedinIcon {
    height: 70px;
    width: 70px;
    margin-left: 25px;
}
 img.SOFIcon {
    height: 70px;
    width: 70px;
    margin-left: 25px;
}

/*980px*/

@media screen and (max-width:980px) {

    ul.nav.navbar-nav.navbar-right {
        margin-right: -5px;
        margin-left: 0;
    }


    div.brainImg.jumbotron {
        padding-top: 23%;
        margin-top: 4px;
        margin-left: 3%;
        margin-right: 7%;
    }


    h1 {
   
        font-size: 3.5em;
        color: black;
        margin-top: -55px;
    }
    div.footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 4rem;
        background-color: transparent;
        text-align: center;
    }

    center.iconsBaby {
        margin-top: -71px;
        position: fixed;
        margin-left: 25%;
    }

    img.githubIcon {
        height: 70px;
        width: 70px;
        margin-left: 25px;
    }
    img.linkedinIcon {
        height: 70px;
        width: 70px;
        margin-left: 44px;
        margin-right: 13px;
    }
     img.SOFIcon {
        height: 70px;
        width: 70px;
        margin-left: 25px;
    }
    
    }  

    /*768px*/

@media screen and (max-width:768px) {

    ul.nav.navbar-nav.navbar-right {
        margin-right: -5px;
        margin-left: 0;
    }


    div.brainImg.jumbotron {
        padding-top: 23%;
        margin-top: 4px;
        margin-left: 3%;
        margin-right: 7%;
    }


    h1 {
   
        font-size: 3.5em;
        color: black;
        margin-top: -55px;
    }
    div.footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 4rem;
        background-color: transparent;
        text-align: center;
    }

    center.iconsBaby {
        margin-top: -71px;
        position: fixed;
        margin-left: 25%;
    }

    img.githubIcon {
        height: 70px;
        width: 70px;
        margin-left: 25px;
    }
    img.linkedinIcon {
        height: 70px;
        width: 70px;
        margin-left: 44px;
        margin-right: 13px;
    }
     img.SOFIcon {
        height: 70px;
        width: 70px;
        margin-left: 25px;
    }

    a.navbar-brand {
        /* float: left; */
        color: black;
        /* height: 47px; */
        /* padding: 15px 15px; */
        /* font-size: 21px; */
        /* line-height: 0px; */
        /* font-family: 'Cutive Mono', monospace; */
        margin-right: -7px;
    }
    
    }  

        /*640px*/

@media screen and (max-width:640px) {

    ul.nav.navbar-nav.navbar-right {
        margin-right: -5px;
        margin-left: 0;
    }


    div.brainImg.jumbotron {
        padding-top: 23%;
        margin-top: 4px;
        margin-left: 3%;
        margin-right: 7%;
    }


    h1 {
   
        font-size: 3.5em;
        color: black;
        margin-top: -55px;
    }
    div.footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 4rem;
        background-color: transparent;
        text-align: center;
    }

    center.iconsBaby {
        margin-top: -71px;
        position: fixed;
        margin-left: 25%;
    }

    img.githubIcon {
        height: 70px;
        width: 70px;
        margin-left: 25px;
    }
    img.linkedinIcon {
        height: 70px;
        width: 70px;
        margin-left: 44px;
        margin-right: 13px;
    }
     img.SOFIcon {
        height: 70px;
        width: 70px;
        margin-left: 25px;
    }

    a.navbar-brand {
        /* float: left; */
        color: black;
        /* height: 47px; */
        /* padding: 15px 15px; */
        /* font-size: 21px; */
        /* line-height: 0px; */
        /* font-family: 'Cutive Mono', monospace; */
        margin-right: -7px;
    }
    
    }  





/* @media all and (min-width: 1024px) and (max-width: 1280px) { 
    .brainImg.jumbotron {
        padding-top: 20%;
        margin-top: 7px;
        margin-left: 2%;
        width: 46%;
    }
    h1 {
       
        font-size: 3.5em;
        color: black;
    }
    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 4rem;
        background-color: transparent;
        text-align: center;
    }

    center.iconsBaby {
        margin-top: 15px;
        margin-right: 194px;
        margin-bottom: 21%;
    }

    img.githubIcon {
        height: 70px;
        width: 70px;
        margin-left: 25px;
    }
    img.linkedinIcon {
        height: 70px;
        width: 70px;
        margin-left: 25px;
    }
     img.SOFIcon {
        height: 70px;
        width: 70px;
        margin-left: 25px;
    }
    }

    @media all and (min-width:769px) and (max-width:1024px){
        .brainImg.jumbotron {
            padding-top: 19%;
            margin-top: 7px;
            margin-left: 2%;
            width: 46%;
        }
        h1 {
       
            font-size: 3.5em;
            color: black;
        }
        .footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 4rem;
            background-color: transparent;
            text-align: center;
        }
    
        center.iconsBaby {
            margin-top: 15px;
            margin-right: 113px;
            margin-bottom: 29%;
            position: initial;
        }
    
        img.githubIcon {
            height: 70px;
            width: 70px;
            margin-left: 25px;
        }
        img.linkedinIcon {
            height: 70px;
            width: 70px;
            margin-left: 25px;
        }
         img.SOFIcon {
            height: 70px;
            width: 70px;
            margin-left: 25px;
        }
    }

    @media all and (min-width:414px) and (max-width:768px){

        div.brainImg.jumbotron {
            padding-top: 30%;
            margin-top: 4px;
            margin-left: 3%;
        }

        ul.nav.navbar-nav.navbar-right {
            margin-right: -27px;
            margin-left: 0;
        }
        h1 {
       
            font-size: 3.5em;
            color: black;
        }
        div.footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 4rem;
            background-color: transparent;
            text-align: center;
        }
    
        center.iconsBaby {
            margin-top: -70px;
            margin-right: 4px;
            margin-left: 17%; */
            /* margin-bottom: 0%; */
            /* position: fixed;
        }
    
        img.githubIcon {
            height: 70px;
            width: 70px;
            margin-left: 25px;
        }
        img.linkedinIcon {
            height: 70px;
            width: 70px;
            margin-left: 25px;
        }
         img.SOFIcon {
            height: 70px;
            width: 70px;
            margin-left: 25px;
        }
    } */






/*768PX*/
/* @media screen and (max-width:768px) {

    .brainImg.jumbotron {
        padding-top: 99%;
        margin-top: 12px;
    }

    h2 {
        font-size: 2.9em;
    }
    .footer {
        position: absolute;
        right: -7px;
        bottom: -9px;
        left: 0;
        padding: 4rem;
        background-color: #efefef;
        text-align: center;
    }
    
    }  */


/*635PX*/
/* @media screen and (max-width:635px) { 
    h2 {
        font-size: 2.7em;
    }
    .jumbotron{
            margin-top: -4px;
    }
} 

@media screen and (max-width: 411px) {
    .brainImg.jumbotron {
        margin-top: 34px;
    }
} */

/*414PX*/
/* @media screen and (max-width:414px) {

    .brainImg.jumbotron {
        padding-top: 110%;
        padding-bottom: 23px;
        border-radius: 15px;
    }
    h1 {
            font-family: 'Julius Sans One', sans-serif;
            text-shadow: 7px 3px 4px #a3a1a1;
            font-size: 1.5em;
            /* background-color: gray;  
    }

    .footer {
        padding: 1rem;
        border-top-left-radius: 71px;
        border-top-right-radius: 71px;
        margin-bottom: 0px;
        background-color: #80808000;
    }
    

    .home-pic {
        height: 291px;
        width: 1015px;
        margin-top: 25px;
        border-radius: 25px;
        -webkit-box-shadow: 5px 4px 3px 1px grey;
        box-shadow: 2px 2px 3px 2px grey;
    }
    center.iconsBaby {
        position: initial;
        margin-top: 26px;
        margin-right: 93px;
        margin-bottom: 60px;
    }
        } 

        /*iphoneX */
/* @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .brainImg.jumbotron {
                padding-top: 115%;
                padding-bottom: 23px;
        }
        h1 {
            font-family: 'Julius Sans One', sans-serif;
            text-shadow: 7px 3px 4px #a3a1a1;
            font-size: 2.5em;
            margin-top: 52px;
            margin-bottom: 88px;
            background-color: gray;
        }
        .profile-pic {
            height: 350px;
            width: 336px;
            margin-right: 6px;
            margin-left: 4px;
            margin-top: -14px;
            margin-bottom: -5px;
            -webkit-box-shadow: 5px 4px 9px grey;
            box-shadow: 9px 9px 9px grey;
            border-radius: 21px;
        }
    }

        .githubIcon {
            height: 35px;
            width: 35px;
            margin-left: 25px;
        }
        .linkedinIcon {
            height: 35px;
            width: 35px;
            margin-left: 25px;
        }
         .SOFIcon {
            height: 35px;
            width: 35px;
            margin-left: 25px;
        } */


/*375PX*/
/* @media screen and (max-width:375px) {

    .brainImg.jumbotron {
        padding-top: 111%;
        margin-top: 7px;
        width: 347px;
        margin-bottom: 28px;
    }
        h2 {
            font-family: 'Patrick Hand SC', cursive;
            font-size: 2em;
            margin-right: 12px;
            margin-top: 10px;
    }

    .footer {
        position: initial;
        padding: 1rem;
        border-top-left-radius: 71px;
        border-top-right-radius: 71px;
        margin-bottom:0px;
    }
    

    .home-pic {
        height: 291px;
        width: 1015px;
        margin-top: 25px;
        border-radius: 25px;
        -webkit-box-shadow: 5px 4px 3px 1px grey;
        box-shadow: 2px 2px 3px 2px grey;
    }

    center.iconsBaby {
        position: initial;
        margin-top: -9px;
        margin-right: 71px; */
        /* margin-bottom: -35px; */
    /* }
 
    }

        .githubIcon {
            height: 35px;
            width: 35px;
            margin-left: 25px;
        }
        .linkedinIcon {
            height: 35px;
            width: 35px;
            margin-left: 25px;
        }
         .SOFIcon {
            height: 35px;
            width: 35px;
            margin-left: 25px;
        } */
        /*iphone*/
    /* @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .iconsBaby {
            margin-top: 126px;
            margin-right: 27px;
            margin-bottom: 10px;
            padding-top: -2px;
        }
        .githubIcon {
            height: 35px;
            width: 35px;
            margin-left: 25px;
        }
        .linkedinIcon {
            height: 35px;
            width: 35px;
            margin-left: 25px;
        }
         .SOFIcon {
            height: 35px;
            width: 35px;
            margin-left: 25px;
        }

     }

      */

/*360PX*/
/* @media screen and (max-width:360px) {
    .brainImg.jumbotron {
        padding-top: 124%;
        margin-top: 3px;
    }
    .githubIcon {
        height: 35px;
        width: 35px;
        margin-left: 25px;
    }
    .linkedinIcon {
        height: 35px;
        width: 35px;
        margin-left: 25px;
    }
     .SOFIcon {
        height: 35px;
        width: 35px;
        margin-left: 25px;
    }
} */

/*411PX pixel 2 xl*/
/* @media screen and (max-width:411px) {
.brainImg.jumbotron { */
    /* padding-top: 154%; */
    /* margin-top: 10px;
}
    img.githubIcon {
        height: 35px;
        width: 35px;
        margin-left: 25px;
    }
    img.linkedinIcon {
        height: 35px;
        width: 35px;
        margin-left: 25px;
    }
     img.SOFIcon {
        height: 35px;
        width: 35px;
        margin-left: 25px;
    }
}

@media screen and (width: 320px) {
    .brainImg.jumbotron {
        padding-top: 108%;
        margin-top: 8px;
    }
} */

/*320PX iphone 5/se*/
/* @media screen and (max-width:320px) {
    .brainImg.jumbotron {
        padding-top: 111%;
        margin-top: 7px;
        width: 292px;
        margin-bottom: 12px;
    }
    .navbar-default .navbar-brand {
        color: rgb(0, 0, 0);
        font-size: 0.9em;
    }
    .githubIcon {
        height: 35px;
        width: 35px;
        margin-left: 25px;
    }
    .linkedinIcon {
        height: 35px;
        width: 35px;
        margin-left: 25px;
    }
     .SOFIcon {
        height: 35px;
        width: 35px;
        margin-left: 25px;
    }
    .h1, h1 {
        font-family: 'Patrick Hand SC', cursive;
        font-size: 2em;
        margin-right: 12px;
        margin-top: 10px;
    }

    center.iconsBaby {
        margin-top: -28px;
        margin-right: 49px;
    }
} */

/*galaxy s5*/
/* @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .brainImg.jumbotron {
        padding-top: 106%;
        margin-top: -1px;
    }

    center.iconsBaby {
        position: initial;
        margin-top: 23px;
        margin-right: 64px;
        margin-bottom: 6px;
    }
} */