.profile-pic{
    height: 150%;
    width: 150%; 
}

.jumbotron-pic {
    height: auto;
    width: auto; 
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 40%;
    margin-bottom: 30px;
    color: inherit;
    background-color:#f5e9e5;
}

