.panel.panel-default {
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border: 9px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 21px;
}

.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: 5px 4px 9px grey;
    box-shadow: 0px 1px 21px grey;
    border-radius: 16px;
}

h4 {
    /* font-family: 'Patrick Hand SC', cursive; */
    font-size: 2em;
    color: ghostwhite;
    font-family: 'Patrick Hand SC', cursive;

}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    border-radius:10px;
} 

/*960*/
@media screen and (max-width:960px) {
    .panel.panel-default {
        margin-bottom: 13px;
        background-color: #f7f7f7;
        border: 9px solid transparent;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 21px;
        margin-right: 170px;
        margin-left: 158px;
        padding-left: 0px;
    }
    p {
        font-family: 'Patrick Hand SC', cursive;
        font-size: 3em;
    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
            border-radius: 10px;
            margin: auto;
            width: 100%;
    }

        .col-xs-12 {
            width: 100%;
        }

    } 



/*768*/
@media screen and (max-width:768px) {
    .panel.panel-default {
        margin-bottom: 13px;
        background-color: #f7f7f7;
        border: 9px solid transparent;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 21px;
        margin-right: 170px;
        margin-left: 158px;
        padding-left: 0px;
    }
    p {
        font-family: 'Patrick Hand SC', cursive;
        font-size: 3em;
    }

} 

/*414*/
@media screen and (max-width:414px) {
    .panel.panel-default {
        margin-bottom: 26px;
        margin-right: -9px;
        margin-left: 11px;
        background-color: #f7f7f7;
        border: 9px solid transparent;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 21px;
    }

    .col-xs-12 {
        width: 100%;
        margin-left: -13px;
    }

    p {
        font-family: 'Patrick Hand SC', cursive;
        font-size: 1em;
    }

    h4 {
        font-family: 'Patrick Hand SC', cursive;
        font-size: 2em;
        margin-left: 28px;
    }
    
}  

/*375*/
@media screen and (max-width:375px) {
.panel.panel-default {
    margin-bottom: 20px;
    margin-right: -14px;
    background-color: #f7f7f7;
    border: 9px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 21px;
}

.col-xs-12 {
    width: 100%;
    margin-left: -13px;
}
} 