.panel.panel-default {
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border: 9px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 21px;
}

.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: 5px 4px 9px grey;
    box-shadow: 0px 1px 21px grey;
    border-radius: 16px;
}

h4 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 3em;
}



/*768*/
@media screen and (max-width:768px) {
    img-responsive, .thumbnail a>img, .thumbnail>img {
        display: block;
        max-width: 100%;
        margin: auto;
        height: 400px;
    }
    p {
        font-family: 'Patrick Hand SC', cursive;
        font-size: 3em;
    }

}

/*414*/
@media screen and (max-width:414px) {
    .panel.panel-default {
        margin-bottom: 20px;
        margin-right: -28px;
        background-color: #f7f7f7;
        border: 9px solid transparent;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 21px;
    }
    .img-responsive, .thumbnail a>img, .thumbnail>img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 13px;
    }
}

/*375*/
@media screen and (max-width:375px) {
.panel.panel-default {
    margin-bottom: 20px;
    margin-right: -28px;
    background-color: #f7f7f7;
    border: 9px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 21px;
}
.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 13px;
}
}
