body {
    background-image: url(https://images.pexels.com/photos/362550/pexels-photo-362550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); 
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
} 